{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/viera/chocobomanagement/header.png",
      "fileBody" : "/interface/scripted/viera/chocobomanagement/body.png",
      "fileFooter" : "/interface/scripted/viera/chocobomanagement/footer.png"
    },
    
	//  WINDOW TITLE
    "titleLabel" : {
      "type" : "layout",
      "layoutType" : "basic",
      "rect" : [182, 244, 332, 261],
      "children" : {
        "icon" : {
          "type" : "image",
          "zlevel" : 1,
          "file" : "/objects/viera/chocobostand/icon.png",
          "position" : [8, 9],
          "centered" : true
        },
        "title" : {
          "type" : "label",
          "zlevel" : 1,
          "position" : [19, 17],
          "hAnchor" : "left",
          "vAnchor" : "top",
          "wrapWidth" : 150,
          "lineSpacing" : 1.05,
          "value" : "Chocobo Management"
        },
        "subtitle" : {
          "type" : "label",
          "zlevel" : 1,
          "position" : [19, 8],
          "hAnchor" : "left",
          "vAnchor" : "top",
          "wrapWidth" : 150,
          "lineSpacing" : 1.05,
          "color" : [185, 181, 178],
          "value" : "Heal and equip your chocobo!"
        }
      }
    },
    "close" : {
      "type" : "button",
      "position" : [341, 248],
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0]
    },
	
    //  DISPLAY WINDOW
    "chocoboDisplay" : {
      "type" : "layout",
      "layoutType" : "basic",
      "rect" : [163, 68, 370, 227],
      "children" : {
        "bardingf" : {
          "type" : "image",
          "zlevel" : 11,
          "position" : [103, 79],
		  "scale" : 2,
	      "trim" : false,
          "centered" : true
        },
        "wing" : {
          "type" : "image",
          "zlevel" : 10,
          "position" : [103, 79],
		  "scale" : 2,
	      "trim" : false,
          "centered" : true
        },
        "saddlef" : {
          "type" : "image",
          "zlevel" : 9,
          "position" : [103, 79],
		  "scale" : 2,
	      "trim" : false,
          "centered" : true
        },
        "legf" : {
          "type" : "image",
          "zlevel" : 8,
          "position" : [103, 79],
		  "scale" : 2,
	      "trim" : false,
          "centered" : true
        },
        "bust" : {
          "type" : "image",
          "zlevel" : 7,
          "position" : [103, 79],
		  "scale" : 2,
	      "trim" : false,
          "centered" : true
        },
        "saddle" : {
          "type" : "image",
          "zlevel" : 6,
          "position" : [103, 79],
		  "scale" : 2,
	      "trim" : false,
          "centered" : true
        },
        "barding" : {
          "type" : "image",
          "zlevel" : 5,
          "position" : [103, 79],
		  "scale" : 2,
	      "trim" : false,
          "centered" : true
        },
        "back" : {
          "type" : "image",
          "zlevel" : 4,
          "position" : [103, 79],
		  "scale" : 2,
	      "trim" : false,
          "centered" : true
        },
        "saddleb" : {
          "type" : "image",
          "zlevel" : 3,
          "position" : [103, 79],
		  "scale" : 2,
	      "trim" : false,
          "centered" : true
        },
        "legb" : {
          "type" : "image",
          "zlevel" : 2,
          "position" : [103, 79],
		  "scale" : 2,
	      "trim" : false,
          "centered" : true
        },
        "bardingb" : {
          "type" : "image",
          "zlevel" : 1,
          "position" : [103, 79],
		  "scale" : 2,
	      "trim" : false,
          "centered" : true
        }
      }
    },
	
	// CHOCOBO SCROLL
    "chocoboLabel" : {
      "type" : "label",
      "position" : [83, 222],
      "hAnchor" : "mid",
      "wrapWidth" : 125,
      "color" : [254, 220, 40],
      "value" : "Select Chocobo"
    },
    "chocoboScrollArea" : {
      "type" : "scrollArea",
      "rect" : [13, 37, 155, 212],
      "children" : {
        "chocoboList" : {
          "type" : "list",
          "callback" : "itemSelected",
          "schema" : {
            "hoverBG" : "/interface/scripted/viera/chocobomanagement/listchocobo.png:hover",
            "selectedBG" : "/interface/scripted/viera/chocobomanagement/listchocobo.png:selected",
            "unselectedBG" : "/interface/scripted/viera/chocobomanagement/listchocobo.png:unselected",
            "spacing" : [0, 0],
            "memberSize" : [131, 25],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "zlevel" : 0,
                "position" : [0, 0],
                "file" : "/interface/scripted/viera/chocobomanagement/listchocobo.png:unselected"
              },
              "name" : {
                "type" : "label",
                "zlevel" : 1,
                "position" : [3, 19],
                "hAnchor" : "left",
                "vAnchor" : "top",
                "wrapWidth" : 130,
                "lineSpacing" : 1.05,
                "value" : "Replace Me"
              },
              "icon" : {
                "type" : "image",
                "zlevel" : 1,
                "position" : [119, 14],
                "centered" : true
              },
              "health" : {
                "type" : "progress",
                "zlevel" : -1,
                "background" : "/interface/scripted/viera/chocobomanagement/healthempty.png",
                "position" : [3, 3],
                "size" : [97, 7],
                "progressSet" : {
                  "inner" : "/interface/scripted/viera/chocobomanagement/health.png",
                  "type" : "repeat"
                },
                "direction" : "horizontal"
              }
            }
          }
        }
      }
    },
    "emptyChocoboLabel" : {
      "type" : "label",
      "position" : [79, 99],
      "hAnchor" : "mid",
      "wrapWidth" : 125,
      "color" : [185, 181, 178],
      "value" : "You don't have any chocobo to heal!"
    },
	
	// SADDLE SCROLL
    "saddleLabel" : {
      "type" : "label",
      "position" : [448, 222],
      "hAnchor" : "mid",
      "wrapWidth" : 125,
      "value" : "Select Saddle"
    },
    "saddleScrollArea" : {
      "type" : "scrollArea",
      "rect" : [378, 143, 520, 212],
      "children" : {
        "saddleList" : {
          "type" : "list",
          "callback" : "itemSelected",
          "schema" : {
            "hoverBG" : "/interface/scripted/viera/chocobomanagement/listgear.png:hover",
            "selectedBG" : "/interface/scripted/viera/chocobomanagement/listgear.png:selected",
            "unselectedBG" : "/interface/scripted/viera/chocobomanagement/listgear.png:unselected",
            "disabledBG" : "/interface/scripted/viera/chocobomanagement/listgear.png:disabled",
            "spacing" : [0, 0],
            "memberSize" : [131, 22],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "zlevel" : 0,
                "position" : [0, 0],
                "file" : "/interface/scripted/viera/chocobomanagement/listgear.png:unselected"
              },
              "name" : {
                "type" : "label",
                "zlevel" : 1,
                "position" : [3, 16],
                "hAnchor" : "left",
                "vAnchor" : "top",
                "wrapWidth" : 130,
                "lineSpacing" : 1.05,
                "value" : "Replace Me"
              },
              "icon" : {
                "type" : "image",
                "zlevel" : 1,
                "position" : [119, 11],
                "centered" : true
              }
            }
          }
        }
      }
    },
    "emptySaddleLabel" : {
      "type" : "label",
      "position" : [444, 178],
      "hAnchor" : "mid",
      "wrapWidth" : 125,
      "color" : [185, 181, 178],
      "value" : "You don't have any saddles to equip!"
    },
    
	// BARDING SCROLL
    "bardingLabel" : {
      "type" : "label",
      "position" : [448, 116],
      "hAnchor" : "mid",
      "wrapWidth" : 125,
      "value" : "Select Barding"
    },
    "bardingScrollArea" : {
      "type" : "scrollArea",
      "rect" : [378, 37, 520, 106],
      "children" : {
        "bardingList" : {
          "type" : "list",
          "callback" : "itemSelected",
          "schema" : {
            "hoverBG" : "/interface/scripted/viera/chocobomanagement/listgear.png:hover",
            "selectedBG" : "/interface/scripted/viera/chocobomanagement/listgear.png:selected",
            "unselectedBG" : "/interface/scripted/viera/chocobomanagement/listgear.png:unselected",
            "disabledBG" : "/interface/scripted/viera/chocobomanagement/listgear.png:disabled",
            "spacing" : [0, 0],
            "memberSize" : [131, 22],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "zlevel" : 0,
                "position" : [0, 0],
                "file" : "/interface/scripted/viera/chocobomanagement/listgear.png:unselected"
              },
              "name" : {
                "type" : "label",
                "zlevel" : 1,
                "position" : [3, 16],
                "hAnchor" : "left",
                "vAnchor" : "top",
                "wrapWidth" : 130,
                "lineSpacing" : 1.05,
                "value" : "Replace Me"
              },
              "icon" : {
                "type" : "image",
                "zlevel" : 1,
                "position" : [119, 11],
                "centered" : true
              }
            }
          }
        }
      }
    },
    "emptyBardingLabel" : {
      "type" : "label",
      "position" : [444, 72],
      "hAnchor" : "mid",
      "wrapWidth" : 125,
      "color" : [185, 181, 178],
      "value" : "You don't have any barding to equip!"
    },
    
	// GREENS NEEDED TO HEAL DISPLAY
    "neededLabel" : {
      "type" : "label",
      "position" : [197, 58],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "color" : [0, 123, 13],
      "value" : "Needed:"
    },
    "neededGreens" : {
      "type" : "label",
      "position" : [259, 58],
      "hAnchor" : "right",
      "vAnchor" : "top",
      "value" : "--"
    },
    "ownedLabel" : {
      "type" : "label",
      "position" : [197, 49],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "color" : [0, 123, 13],
      "value" : "Owned:"
    },
    "ownedGreens" : {
      "type" : "label",
      "position" : [259, 49],
      "hAnchor" : "right",
      "vAnchor" : "top",
      "value" : "0"
    },
    
	// BUTTONS
    "healButton" : {
      "type" : "button",
      "position" : [269, 40],
      "base" : "/interface/scripted/viera/chocobomanagement/button.png:base",
      "hover" : "/interface/scripted/viera/chocobomanagement/button.png:hover",
      "disabledImage" : "/interface/scripted/viera/chocobomanagement/button.png:disabled",
      "caption" : "HEAL",
      "callback" : "doHeal"
    },
    "equipButton" : {
      "type" : "button",
      "position" : [321, 40],
      "base" : "/interface/scripted/viera/chocobomanagement/button.png:base",
      "hover" : "/interface/scripted/viera/chocobomanagement/button.png:hover",
      "disabledImage" : "/interface/scripted/viera/chocobomanagement/button.png:disabled",
      "caption" : "EQUIP",
      "callback" : "doEquip"
    }
  },

  "scriptWidgetCallbacks" : [
    "itemSelected",
	"doEquip",
    "doHeal"
  ],

  "scripts" : ["/interface/scripted/viera/chocobomanagement/chocobomanagementgui.lua"],
  "scriptDelta" : 30,
  "greenHealAmount" : 3
}
