{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Lolo", "Lenzo", "Kyrie", "Larcel", "Hina", "Rodi", "Evo", "Rimbley", "Potts", "Fado", "Vati", "Mino", "Qia", "Roto", "Dotto", "Lima", "Mardy", "Murta", "Loshgoobi", "Ono", "Jotto", "Varto", "Wokku", "Babba", "Nunu", "Wuto", "Yimmi", "Lois", "Shimmy", "Ito", "Remma", "Drez", "Yulo", "Wimo", "Lonlon", "Gona", "Fimo", "Soso", "Yunto", "Tatto", "Russo", "Dohna", "Oiko", "Runa", "Tuto", "Pomira", "Illo", "Jinky", "Favri", "Sido", "Pilo", "Luto", "Varu", "Pina", "Donba", "Reff", "Breitt", "Gonzo", "Wembley", "Gobo", "Mokey", "Buber", "Herbe", "Marne", "Yuva", "Qito", "Poku", "Gotto", "Timo", "Tima", "Oigo", "Wickam", "Dahdo", "Porto", "Nino", "Kato", "Dito", "Ima", "Rogi", "Fen", "Hirto", "Wo", "Kaga", "Waka", "Jombo", "Opo", "Nogi", "Koni", "Kona", "Dolca", "Puto", "Kabe", "Nio", "Santi", "Baki", "Bargo", "Sota", "Koral", "Tumo", "Ponto" ]
    ]
  ]
}
