{
  "blockKey" : [
    {
      "value" : [255, 255, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : false
    },
	
    {
      "value" : [155, 155, 155, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : false,
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [0, 0, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
	  "backgroundMat" : ""
    },

    {
      "value" : [255, 0, 0, 255],
      "foregroundBlock" : true,
      "backgroundBlock" : true
    },

    {
      "value" : [0, 255, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "vierashipplatingsolid",
      "flags" : [ "shipLockerPosition" ],
      "object" : "vierashiplocker",
      "objectParameters" : {
        "treasurePools" : [ "vieraStarterTreasure" ],
        "level" : 0.5,
        "unbreakable" : true
      },
      "objectResidual" : true
    },
    
    {
      "value" : [0, 128, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "vierashipplatingsolid",
      "object" : "vierashiplockerTier0",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
	
	
	
    {
      "value" : [142, 200, 140, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "vieratechstationTier0",
	  "objectDirection" : "right",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
	
    {
      "value" : [142, 255, 142, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "vieratechstation2",
	  "objectDirection" : "right",
      "objectParameters" : {
        "unbreakable" : true
      },
      "objectResidual" : true
    },
	
    {
      "value" : [4, 23, 88, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "seonhaspawner",
	  "objectDirection" : "right",
      "objectResidual" : true
    },
	
	{
      "value" : [4, 8, 87, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "seonhashelf",
	  "objectDirection" : "right",
      "objectResidual" : true
    },



    {
      "value" : [255, 87, 81, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "brokenvierafuelhatch",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [255, 90, 90, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "vierafuelhatch",
      "objectParameters" : {
        "unbreakable" : true
      },
      "objectResidual" : true
    },
	
	{
      "value" : [95, 255, 144, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
	  "backgroundMat" : "vierashipplatingsolid",
      "object" : "vierashipwallbed",
      "objectResidual" : true
    },
	
	{
      "value" : [90, 200, 150, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
	  "backgroundMat" : "vierashipplatingsolid",
      "object" : "vierashipwallbedbroken",
      "objectResidual" : false
    },
	
	{
      "value" : [85, 245, 140, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
	  "backgroundMat" : "vierashipplatingsolid",
      "object" : "vierashipwallbedvariant1",
      "objectResidual" : true
    },
	
	{
      "value" : [80, 200, 145, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
	  "backgroundMat" : "vierashipplatingsolid",
      "object" : "vierashipwallbedvariant1broken",
      "objectResidual" : false
    },

    {
      "value" : [255, 255, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "vieraslopedinsetplating",
      "object" : "vierashiplight",
      "objectResidual" : true
    },
    
    {
      "value" : [191, 191, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "vieraslopedinsetplating",
      "object" : "vierashiplightBroken",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
    
    {
      "value" : [128, 128, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "vieraslopedinsetplating",
      "object" : "vierashiplight",
      "objectParameters" : {
        "unbreakable" : true,
        "defaultLightState" : false
      }
    },
	
	{
      "value" : [108, 118, 200, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "vierashipplatingsolid",
      "object" : "vierashiplight",
      "objectParameters" : {
        "unbreakable" : true,
        "defaultLightState" : false
      }
    },
	
	{
      "value" : [28, 108, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "vierashipplatingsolid",
      "object" : "vierashiplight",
      "objectResidual" : true
      
    },

    {
      "value" : [255, 102, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : false,
      "object" : "vierashipdoor",
      "objectResidual" : true
    },
    
    {
      "value" : [128, 51, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : false,
      "object" : "vierashiphatchBroken",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
	
	{
      "value" : [132, 51, 8, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : false,
      "object" : "vierashiphatch",
      "objectResidual" : true
    },

    {
      "value" : [174, 137, 81, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "shipengine",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [156, 0, 255, 255],
      "anchor" : true,
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "vierashipplating3",
      "object" : "vierateleporter",
      "flags" : [ "playerSpawn" ],
      "objectParameters" : {
        "unbreakable" : true
      }
    },
    
    {
      "value" : [79, 0, 128, 255],
      "anchor" : true,
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "vierashipplating3",
      "object" : "vierateleporterTier0",
      "flags" : [ "playerSpawn" ],
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [167, 167, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "glossairring0",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
	
	{
      "value" : [127, 117, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "glossairring3",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [137, 137, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "glossairring5",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [107, 107, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "glossairring6",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [77, 77, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "glossairring7",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [168, 168, 168, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "smallboosterflame",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [130, 219, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "vieracaptainsconsole",
	  "objectResidual" : true,
      "objectDirection" : "right",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
	
	{
      "value" : [125, 200, 210, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "vieracaptainsconsolebroken",
      "objectDirection" : "right",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
	
	{
      "value" : [127, 146, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "vieracaptainsconsolecrewchairs",
      "objectDirection" : "right",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
	
	{
      "value" : [12, 140, 200, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "vierashipoverheadstorage",
	  "objectResidual" : true,
      "objectDirection" : "right"
    },
	
	{
      "value" : [17, 160, 105, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "vierashipsofa",
	  "objectResidual" : true,
      "objectDirection" : "right"
    },
	
	{
      "value" : [95, 100, 30, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "vierashipbookcase",
	  "objectResidual" : true,
      "objectDirection" : "right"
    },
	
	{
      "value" : [146, 0, 200, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "vierashipboothleft",
	  "objectResidual" : true,
      "objectDirection" : "right"
    },
	
	{
      "value" : [190, 42, 253, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "vierashipboothright",
	  "objectResidual" : true,
      "objectDirection" : "left"
    },
	
	{
      "value" : [68, 141, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "vierashipcupboard1",
	  "objectResidual" : true,
      "objectDirection" : "right"
    },
	
	{
      "value" : [248, 8, 153, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "vierashipcupboard2",
	  "objectResidual" : true,
      "objectDirection" : "right"
    },
	
	{
      "value" : [12, 139, 50, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "viera_shipengine",
	  "backgroundMat" : "vierashipplatingsolid",
	  "objectResidual" : true,
      "objectDirection" : "right"
    },
	
	{
      "value" : [95, 210, 74, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "viera_shipenginebroken",
	  "backgroundMat" : "vierashipplatingsolid",
      "objectDirection" : "right"
    },
	
	{
      "value" : [0, 135, 225, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "vierashipfoodstorage",
	  "objectResidual" : true,
      "objectDirection" : "right"
    },
	
	{
      "value" : [255, 20, 10, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "vierashipsink",
	  "objectResidual" : true,
      "objectDirection" : "right"
    },
	
	{
      "value" : [62, 243, 54, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "vierashipstove",
	  "objectResidual" : true,
      "objectDirection" : "right"
    },
	
	{
      "value" : [43, 110, 25, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "vierashipvalance",
	  "objectResidual" : true,
      "objectDirection" : "right"
    },
	
	{
      "value" : [10, 100, 85, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "vierashiparmchair",
	  "objectResidual" : true,
      "objectDirection" : "left"
    },
	
	{
      "value" : [180, 100, 54, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
	  "backgroundMat" : "vierashipplatingsolid",
      "object" : "vierashipendtable",
	  "objectResidual" : true,
      "objectDirection" : "left"
    },
	
	{
      "value" : [90, 255, 80, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
	  "backgroundMat" : "vieraslopedinsetplating",
      "object" : "vieracrystallight1",
	  "objectResidual" : true,
      "objectDirection" : "right",
	  "objectParameters" : {
        "defaultLightState" : false
      }
    },

    {
      "value" : [122, 122, 122, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "invisiblelight",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
    
    {
      "value" : [255, 232, 128, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "invisiblesparker",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [255, 255, 144],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "vierashipplatingsolid"
    },
	
	{
      "value" : [255, 255, 114],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "magiciteplatform1"
    },
	
	{
      "value" : [200, 255, 100],
      "foregroundBlock" : true,
      "backgroundBlock" : false,
      "foregroundMat" : "magiciteplatform1"
    },
	
	{
      "value" : [74, 150, 39],
      "foregroundBlock" : true,
      "backgroundBlock" : true,
	  "backgroundMat" : "vierashipplatingsolid",
      "foregroundMat" : "magiciteplatform1"
    },
	
	{
      "value" : [80, 130, 25],
      "foregroundBlock" : true,
      "backgroundBlock" : true,
	  "backgroundMat" : "vieraslopedinsetplating",
      "foregroundMat" : "magiciteplatform1"
    },
	
	{
      "value" : [70, 120, 20],
      "foregroundBlock" : true,
      "backgroundBlock" : true,
	  "foregroundMat" : "magiciteplatform1",
      "backgroundMat" : "magiciteplatform1"
    },
	
	{
      "value" : [44, 15, 45],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "magiciteplatform2"
    },

    {
      "value" : [255, 117, 144],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "vieraslopedinsetplating"
    },

    {
      "value" : [255, 255, 220],
      "foregroundBlock" : true,
      "backgroundBlock" : false,
      "foregroundMat" : "hazard",
      "foregroundResidual" : true
    },

    {
      "value" : [255, 200, 220],
      "foregroundBlock" : true,
      "backgroundBlock" : true,
      "foregroundMat" : "hazard",
      "foregroundResidual" : true,
      "backgroundMat" : "vieraslopedinsetplating"
    },

    {
      "value" : [255, 190, 190],
      "foregroundBlock" : true,
      "backgroundBlock" : true,
      "foregroundMat" : "hazard",
      "foregroundResidual" : true,
      "backgroundMat" : "apexshipsupport"
    },
    
    {
      "value" : [190, 255, 190],
      "foregroundBlock" : true,
      "backgroundBlock" : true,
      "foregroundMat" : "hazard",
      "foregroundResidual" : true,
      "backgroundMat" : "vieraslopedinsetplating"
    },

    {
      "value" : [255, 117, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "vieraslopedinsetplating"
    },
	
	{
      "value" : [200, 117, 255],
      "foregroundBlock" : true,
      "backgroundBlock" : true
    },
	
	{
      "value" : [182, 255, 0],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "vierashipplating2"
    },
	
	{
      "value" : [182, 124, 0],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "vierashipplating1"
    }
  ]
}
