{
  "greeting" : {
    "default" : {
      "default" : [
		"What brings you to this place, kupo?",
		"Welcome to this part of the world, kupo!",
		"Greetings, kupo!",
		"I trust that you are friend, kupo?",
		"Welcome, kupo!",
		"Oh, a visitor, kupo.",
		"Are you a star-traveller, kupo?",
		"I don't see many new faces here, kupo.",
		"Do you bring good tidings, kupo?",
		"I have few visitors out this way, kupo."
      ],
	  "viera" : [
		"Greetings, friend Viera, kupo!",
		"What brings a Viera wayfarer to this place, kupo?",
		"Welcome, Viera, kupo!",
		"How fares your kin among the stars, kupo?",
		"Is there something I may assist you with, kupo?",
		"How fares the outside world, kupo?",
		"Viera are always welcome here, kupo!",
		"Safe travels, Viera friend, kupo!",
		"Good tidings, wayfarer, kupo!",
		"Do you bring good news with you, kupo?"
	  ]
	 }
	},
  "converse" : {
    "default" : {
      "default" : [
        "What brings you to this place, kupo?",
		"Welcome to this part of the world, kupo!",
		"Greetings, kupo!",
		"I trust that you are friend, kupo?",
		"Welcome, kupo!",
		"Oh, a visitor, kupo.",
		"Are you a star-traveller, kupo?",
		"I don't see many new faces here, kupo.",
		"Do you bring good tidings, kupo?",
		"I have few visitors out this way, kupo."	
      ],
      "apex" : [
        "What brings you to this place, kupo?",
		"Welcome to this part of the world, kupo!",
		"Greetings, kupo!",
		"I trust that you are friend, kupo?",
		"Welcome, kupo!",
		"Oh, a visitor, kupo.",
		"Are you a star-traveller, kupo?",
		"I don't see many new faces here, kupo.",
		"Do you bring good tidings, kupo?",
		"I have few visitors out this way, kupo."
      ],
      "avian" : [
        "What brings you to this place, kupo?",
		"Welcome to this part of the world, kupo!",
		"Greetings, kupo!",
		"I trust that you are friend, kupo?",
		"Welcome, kupo!",
		"Oh, a visitor, kupo.",
		"Are you a star-traveller, kupo?",
		"I don't see many new faces here, kupo.",
		"Do you bring good tidings, kupo?",
		"I have few visitors out this way, kupo."
      ],
      "glitch" : [
        "What brings you to this place, kupo?",
		"Welcome to this part of the world, kupo!",
		"Greetings, kupo!",
		"I trust that you are friend, kupo?",
		"Welcome, kupo!",
		"Oh, a visitor, kupo.",
		"Are you a star-traveller, kupo?",
		"I don't see many new faces here, kupo.",
		"Do you bring good tidings, kupo?",
		"I have few visitors out this way, kupo."
      ],
	  "human" : [
		"What brings you to this place, kupo?",
		"Welcome to this part of the world, kupo!",
		"Greetings, kupo!",
		"I trust that you are friend, kupo?",
		"Welcome, kupo!",
		"Oh, a visitor, kupo.",
		"Are you a star-traveller, kupo?",
		"I don't see many new faces here, kupo.",
		"Do you bring good tidings, kupo?",
		"I have few visitors out this way, kupo."	
	  ],
      "floran" : [
        "What brings you to this place, kupo?",
		"Welcome to this part of the world, kupo!",
		"Greetings, kupo!",
		"I trust that you are friend, kupo?",
		"Welcome, kupo!",
		"Oh, a visitor, kupo.",
		"Are you a star-traveller, kupo?",
		"I don't see many new faces here, kupo.",
		"Do you bring good tidings, kupo?",
		"I have few visitors out this way, kupo."
      ],
      "hylotl" : [
        "What brings you to this place, kupo?",
		"Welcome to this part of the world, kupo!",
		"Greetings, kupo!",
		"I trust that you are friend, kupo?",
		"Welcome, kupo!",
		"Oh, a visitor, kupo.",
		"Are you a star-traveller, kupo?",
		"I don't see many new faces here, kupo.",
		"Do you bring good tidings, kupo?",
		"I have few visitors out this way, kupo."
      ],
      "novakid" : [
        "What brings you to this place, kupo?",
		"Welcome to this part of the world, kupo!",
		"Greetings, kupo!",
		"I trust that you are friend, kupo?",
		"Welcome, kupo!",
		"Oh, a visitor, kupo.",
		"Are you a star-traveller, kupo?",
		"I don't see many new faces here, kupo.",
		"Do you bring good tidings, kupo?",
		"I have few visitors out this way, kupo."
      ],
	  "viera" : [
		"How fares your kin amongst the trees, kupopo?",
		"It has been an age since I've seen a Wayfaring Viera, kupo!",
		"What village do you come from, friend Viera, kupo?",
		"A Viera friend is always welcome here, kupo!",
		"A wayfaring Viera, kupo! You must have many stories to tell!",
		"We're a long way from Ivalice, kupo.",
		"Make yourself at home, kupo!",
		"Tell me of the outside world, kupopo!"
	  ]
    }
  },
  "breakObject" : {
    "default" : {
      "default" : [
        "Please don't break things, kupo!",
        "Be kind to my things, kupo!",
        "Breaking someone else's things is rude, kupo.",
        "But I just bought that, kupo!"
      ]
    }
  },
  "accuse" : {
    "default" : {
      "default" : [
        "You wouldn't steal from me would you, kupo?",
        "Please don't take my things, kupo.",
        "Be considerate of other's possessions, kupo!",
        "That was mine, kupo!"
      ]
    }
  },
  "alert" : {
    "default" : {
      "default" : [
        "Look out, kupo!",
        "There's trouble afoot, kupo!",
        "Someone help, kupo!"
      ]
    }
  },
  "tagCriteria" : {
    "default" : {
      "default" : [
        "Something doesn't seem right, kupo.",
		"Things are different, kupo...",
		"This isn't how I left things, kupo."
      ]
    }
  },
  "enclosedArea" : {
    "default" : {
      "default" : [
        "Oh no, my home, kupo!",
		"Even someone my size needs more space, kupo.",
		"My house must be fixed, kupo!"
      ]
    }
  },
  "otherDeed" : {
    "default" : {
      "default" : [
        "Do you need me to leave, kupo?",
		"Must I find a new place to live, kupo?",
		"I can just leave, kupo."
      ]
    }
  },
  "severe" : {
    "default" : {
      "default" : [
        "This doesn't bode well, kupo.",
		"The are poor conditions, kupo.",
		"If only this felt more like home, kupo."
      ]
    }
  },
  "final" : {
    "default" : {
      "default" : [
        "Goodbye, friend, kupo.",
		"I'll move along, kupo.",
		"I'll pack my things, kupo."
      ]
    }
  },
  "beacon" : {
    "default" : {
      "default" : [
        "Did you call for me, kupo?",
		"Do you need me, kupo?",
		"I'm here to help, kupo!",
		"It's good to see you, kupo!"
      ]
    }
  },
  "rent" : {
    "default" : {
      "default" : [
        "I have something for you, kupo.",
		"Gift for friend, kupo!",
		"This is for you! Thank you for everything, kupo!",
		"Thank you for my home. Take this, kupo!"
      ]
    }
  },
  "reattack" : {
    "default" : {
      "default" : [
        "You challenge me again, kupo?",
		"You've come back for more, kupo?",
		"Don't underestimate me again, kupo!",
		"Why do you challenge me again, kupo?"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "Fight it out, kupo!",
		"Let me at 'em, kupopo!",
		"I'm bristling with moogle moxxy, kupo!",
		"I can be fierce when I try, kupo!",
		"Kupopo, I'm gonna give 'em what for!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "Target defeated, kupo!",
		"Foe conquered, kupo!",
		"The battle is won, kupopo."
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "I can't see the enemy, kupo!",
		"Is it in hiding or did it flee, kupo?",
		"Where did it go, kupo?"
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "I lost sight of them, kupo.",
		"They must be around here somehwere, kupo.",
		"They're gone...or are they, kupopo?"
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "I can't reach them, kupo.",
		"The target is too far away, kupopo."
      ]
    }
  },
  "cheerOn" : {
    "default" : {
      "default" : [
        "You can win the battle, kupo!",
		"You have my support, kupopo!"
      ]
    }
  },
  "helpme" : {
    "default" : {
      "default" : [
        "I need help, kupo!",
		"Please help, kupopo!",
		"I need some assistance, kupo!"
      ]
    }
  },
  "helpthem" : {
    "default" : {
      "default" : [
        "Someone needs help, kupo!",
		"Oh no, kupopo! Help them!"
      ]
    }
  },
  "encourage" : {
    "default" : {
      "default" : [
        "You can win the battle, kupo!",
		"You have my support, kupopo!"
      ]
    }
  },
  "safe" : {
    "default" : {
      "default" : [
        "Things may be safe again, kupo.",
		"It appears to be safe, kupopo.",
		"Thank goodness that's over, kupo."
      ]
    }
  }
}