{  
  "unlockCategories" : {
    "chocobosaddle"  : "unlockedChocoboSaddles",
    "chocobobarding" : "unlockedChocoboBarding"
  },
  
  "saddleNames" : {
    "naked"         : "Naked",
    "basicsaddle"   : "Basic Saddle",
	"fancysaddle"   : "Fancy Saddle"
  },
  
  "saddleTiers" : {
    "naked"           : "00-naked",
    "basicsaddle"     : "00-cosmetic",
    "fancysaddle"     : "00-cosmetic",	
	"travelerspack"   : "01-traveler"
  },
  
  "saddleStats" : {
    "00-naked"        : { "jumpLimit" : 0, "moveSpeed" :  0, "waterSpeed" :  0 },
    "00-cosmetic"     : { "jumpLimit" : 0, "moveSpeed" :  0, "waterSpeed" :  0 },
	
    "01-traveler"     : { "jumpLimit" : 0, "moveSpeed" : 10, "waterSpeed" :  0 },
    "01-aquatic"      : { "jumpLimit" : 0, "moveSpeed" :  0, "waterSpeed" : 10 },
    "01-mobile"       : { "jumpLimit" : 0, "moveSpeed" :  5, "waterSpeed" :  5 },
    "01-lightweight"  : { "jumpLimit" : 1, "moveSpeed" :  0, "waterSpeed" :  0 },
    "01-aerodynamic"  : { "jumpLimit" : 1, "moveSpeed" :  5, "waterSpeed" :  0 },
    "01-bouyant"      : { "jumpLimit" : 1, "moveSpeed" :  0, "waterSpeed" :  5 },
    "01-masterwork"   : { "jumpLimit" : 1, "moveSpeed" : 10, "waterSpeed" : 10 },
	
    "02-traveler"     : { "jumpLimit" : 0, "moveSpeed" : 15, "waterSpeed" :  0 },
    "02-aquatic"      : { "jumpLimit" : 0, "moveSpeed" :  0, "waterSpeed" : 15 },
    "02-mobile"       : { "jumpLimit" : 0, "moveSpeed" : 10, "waterSpeed" : 10 },
    "02-lightweight"  : { "jumpLimit" : 1, "moveSpeed" :  0, "waterSpeed" :  0 },
    "02-aerodynamic"  : { "jumpLimit" : 1, "moveSpeed" : 10, "waterSpeed" :  0 },
    "02-bouyant"      : { "jumpLimit" : 1, "moveSpeed" :  0, "waterSpeed" : 10 },
    "02-masterwork"   : { "jumpLimit" : 1, "moveSpeed" : 15, "waterSpeed" : 15 },
	
    "03-traveler"     : { "jumpLimit" : 0, "moveSpeed" : 25, "waterSpeed" :  0 },
    "03-aquatic"      : { "jumpLimit" : 0, "moveSpeed" :  0, "waterSpeed" : 25 },
    "03-mobile"       : { "jumpLimit" : 0, "moveSpeed" : 20, "waterSpeed" : 20 },
    "03-lightweight"  : { "jumpLimit" : 1, "moveSpeed" :  0, "waterSpeed" :  0 },
    "03-aerodynamic"  : { "jumpLimit" : 1, "moveSpeed" : 20, "waterSpeed" :  0 },
    "03-bouyant"      : { "jumpLimit" : 1, "moveSpeed" :  0, "waterSpeed" : 20 },
    "03-masterwork"   : { "jumpLimit" : 1, "moveSpeed" : 25, "waterSpeed" : 25 }
  },
  
  "bardingNames" : {
    "naked"             : "Naked",
    "basiccollar"       : "Basic Collar",
    "clothhowdah"       : "Cloth Howdah",
    "travelersharness"  : "Traveler's Harness",
	
    "tier1heavy" : "Wayfarer Armor",
    "tier2heavy" : "Journeyer Armor",
    "tier3heavy" : "Voyager Armor",
    "tier4heavy" : "Pathfinder Armor",
    "tier5light" : "Worldrunner Armor",
    "tier5basic" : "Trailweaver Armor",
    "tier5heavy" : "Pathguard Armor",
    "tier6light" : "Huntmaster Armor",
    "tier6basic" : "Waysage Armor",
    "tier6heavy" : "Phalanx Armor"
  },
  
  "bardingTiers" : {
    "naked"            : "00-naked",
    "basiccollar"      : "00-cosmetic",
    "clothhowdah"      : "00-cosmetic",
    "travelersharness" : "01-light",
	
    "tier1heavy" : "01-heavy",
    "tier2heavy" : "02-heavy",
    "tier3heavy" : "03-heavy",
    "tier4heavy" : "04-heavy",
    "tier5light" : "05-light",
    "tier5basic" : "05-basic",
    "tier5heavy" : "05-heavy",
    "tier6light" : "06-light",
    "tier6basic" : "06-basic",
    "tier6heavy" : "06-heavy"
  },
  
  "bardingStats" : {
    "00-naked"    : { "health" :   0, "protection" :  0 },
    "00-cosmetic" : { "health" :   0, "protection" :  0 },
	
    "01-light" : { "health" :  50, "protection" :  0 },
    "01-basic" : { "health" :  25, "protection" :  5 },
    "01-heavy" : { "health" :   0, "protection" : 10 },
	
    "02-light" : { "health" : 100, "protection" :  0 },
    "02-basic" : { "health" :  50, "protection" : 10 },
    "02-heavy" : { "health" :   0, "protection" : 15 },
	
    "03-light" : { "health" : 150, "protection" :  0 },
    "03-basic" : { "health" :  75, "protection" : 15 },
    "03-heavy" : { "health" :   0, "protection" : 25 },
	
    "04-light" : { "health" : 200, "protection" :  0 },
    "04-basic" : { "health" : 100, "protection" : 20 },
    "04-heavy" : { "health" :   0, "protection" : 30 },
	
    "05-light" : { "health" : 250, "protection" :  0 },
    "05-basic" : { "health" : 125, "protection" : 25 },
    "05-heavy" : { "health" :   0, "protection" : 40 },
	
    "06-light" : { "health" : 300, "protection" :  0 },
    "06-basic" : { "health" : 150, "protection" : 30 },
    "06-heavy" : { "health" :   0, "protection" : 50 }
  }
}