{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/scripted/viera/chocobostorage/header.png",
      "fileBody" : "/interface/scripted/viera/chocobostorage/body.png",
      "fileFooter" : "/interface/scripted/viera/chocobostorage/footer.png"
    },
    
	//  WINDOW TITLE
    "titleLabel" : {
      "type" : "layout",
      "layoutType" : "basic",
      "rect" : [67, 65, 200, 82],
      "children" : {
        "icon" : {
          "type" : "image",
          "file" : "/objects/viera/chocobostable2/icon.png",
          "zlevel" : 1,
          "position" : [8, 9],
          "centered" : true
        },
        "title" : {
          "type" : "label",
          "zlevel" : 1,
          "position" : [19, 17],
          "hAnchor" : "left",
          "vAnchor" : "top",
          "wrapWidth" : 150,
          "lineSpacing" : 1.05,
          "value" : "Chocobo Storage"
        },
        "subtitle" : {
          "type" : "label",
          "zlevel" : 1,
          "position" : [19, 8],
          "hAnchor" : "left",
          "vAnchor" : "top",
          "wrapWidth" : 150,
          "lineSpacing" : 1.05,
          "color" : [185, 181, 178],
          "value" : "Store your chocobo here!"
        }
      }
    },
    "close" : {
      "type" : "button",
      "position" : [208, 69],
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0]
    },
    "stall_1" : {
      "type" : "itemslot",
      "position" : [122, 32],
      "callback" : "swapItem",
      "rightClickCallback" : "ejectItem",
      "backingImage" : "/interface/inventory/empty.png"
    },
    "stall_2" : {
      "type" : "itemslot",
      "position" : [149, 32],
      "callback" : "swapItem",
      "rightClickCallback" : "ejectItem",
      "backingImage" : "/interface/inventory/empty.png"
    },
    "nameLabel_1" : {
      "type" : "label",
      "value" : "--",
      "hAnchor" : "mid",
      "position" : [70, 41]
    },
    "nameLabel_2" : {
      "type" : "label",
      "value" : "--",
      "hAnchor" : "mid",
      "position" : [220, 41]
    },
    "breedLabel_1" : {
      "type" : "label",
      "value" : "--",
      "hAnchor" : "mid",
      "position" : [70, 32]
    },
    "breedLabel_2" : {
      "type" : "label",
      "value" : "--",
      "hAnchor" : "mid",
      "position" : [220, 32]
    },
	"hb_1" : {
      "type" : "image",
      "file" : "/interface/scripted/viera/chocobostorage/healthbar.png",
      "position" : [19, 21],
	  "zlevel" : 2
    },
    "healthBar_1" : {
      "type" : "progress",
      "background" : "/interface/scripted/viera/chocobostorage/healthempty.png",
      "position" : [20, 22],
      "size" : [97, 5],
      "zlevel" : -1,
      "progressSet" : {
        "inner" : "/interface/scripted/viera/chocobostorage/health.png",
        "type" : "repeat"
      }
	},
    "hb_2" : {
      "type" : "image",
      "file" : "/interface/scripted/viera/chocobostorage/healthbar.png",
      "position" : [171, 21],
	  "zlevel" : 2
    },
    "healthBar_2" : {
      "type" : "progress",
      "background" : "/interface/scripted/viera/chocobostorage/healthempty.png",
      "position" : [172, 22],
      "size" : [97, 5],
      "zlevel" : -1,
      "progressSet" : {
        "inner" : "/interface/scripted/viera/chocobostorage/health.png",
        "type" : "repeat"
      }
	}
  },
  "scriptWidgetCallbacks" : [
    "swapItem",
    "ejectItem"
  ],

  "scripts" : ["/interface/scripted/viera/chocobostorage/chocobostoragegui.lua"],
  "scriptDelta" : 1,
  "slotCount"  : 2
}
