{
  "chocoboNames" : [
    "Boll", "Tedd", "Yoko", "Boko", "Yoshi", "Boshi", "Pollo", "Bokki", "Ruta", "Hemeo", 
	"Tayto", "Churro", "Elly", "Etta", "Freeta", "Lago", "Po", "Yunta", "Henny", "Hruta", 
	"Winn", "Jevvi", "Forn", "Varro", "Nuna", "Jobi", "Binny", "Garta", "Rhen", "Kuto", 
	"Tato", "Esta", "Lula", "Varny", "Piko", "Havi", "Hatti", "Una", "Nota", "Ginni", 
	"Retta", "Pokie", "Londi", "Caddi", "Kiko", "Bonjo", "Minvi", "Cara", "Momo", "Kala", 
	"Jinky", "Taruta", "Taruto", "Yunfa", "Iola", "Iota", "Kinji", "Wenta", "Quto", "Timba", 
	"Hinda", "Fida", "Dita", "Sinta", "Jintu", "Yensa", "Oga", "Daimo", "Maiko", "Komi", "Arai", 
	"Idha", "Londa", "Ricco", "Kato", "Minta", "Jaku", "Pomp", "Yeeta", "Meep", "Grado", "Areta", 
	"Honsho", "Trini", "Viggo", "Jonda", "Wenga", "Glynda", "Himeo", "Konni", "Keshi", "Tonga", 
	"Volo", "Soso", "Pumi", "Nando", "Nacoma", "Kashi", "Pinta", "Rheo"   
  ],
  
  "debug" : false,
  "moving" : false,
  "floating" : false,
  "surfacing" : false,
  "canSplash" : true,
  "stillMoving" : false,
  "newborn" : true,
  "jumping" : false,
  "jumpReleased" : true,
  "landed" : true,
  "talking" : false,
  "wasTalking" : false, 
  "shrugging" : false,
  "crouching" : false,
  "blinking" : false,
  "wagging" : false,
  "damaged" : false,
  "groundAnimation" : true,
  "fleeing" : false,
  "callInitialized" : false,
  "playingMusic" : false,
  "playingPassengerMusic" : false, 
  
  "fade" : 1.0,
  "hiCount" : 0,
  "hiLimit" : 1,
  "jumpCount" : 0,
  "jumpTimer" : 0,
  "jumpDelay" : 0.5,
  "fallTimer" : 0,
  "fallDelay" : 0.5,
  "talkTimer" : 0,
  "talkDelay" : 0.5,
  "shrugTimer" : 0,
  "minShrugTime" : 50,
  "maxShrugTime" : 200,
  "wagTimer" : 0,
  "minWagTime" : 40,
  "maxWagTime" : 400,
  "wagFrameDelay" : 1,
  "wagFrameCount" : 0,
  "wagFrames" : [1,2,3,2,1],
  "crouchTimer" : 0,
  "minCrouchTime" : 200,
  "maxCrouchTime" : 600,
  "minStandTime" : 300,
  "maxStandTime" : 1200,
  "blinkTimer" : 0,
  "blinkDelay" : 150,
  "minBlinkTime" : 5,
  "maxBlinkTime" : 15,
  "minStareTime" : 20,
  "maxStareTime" : 150,
  "damageEmoteTimer" : 0,
  "damageEmoteDelay" : 0.5,
  "currentFacing" : 0,
  "previousFacing" : 0,
  "currentLiquid" : 0,
  "previousLiquid" : 0,
  "minLiquidToFloat" : 0.3,
  "maxLiquidToFloat" : 0.7,
  "bowMaxEmission" : 200,
  "splashEpsilon" : 0.025,
  "maxGroundSearchDistance" : 5,
  
  "wagState" : "still",
  "talkState" : "silent",
  "blinkState" : "stare",
  "warpStates" : ["inEnergy","inMatter","outMatter","outEnergy"],
  "warpableStates" : ["idle","idleShrug","crouch","crouchShrug","fall","swim"],
  
  "hazardDamage" : { 
	"liquidlava" : 30,
    "liquidpoison" : 10,
	"liquidheal" : -15,
    "biomeheat" : 20,
	"biomecold" : 15, 
	"biomeradiation" : 10, 
	"biomeelectric" : 7,
	"biomeairless" : 5,
	"biomepoison" : 3
  },
  "hazardDamageTypes" : { 
	"liquidpoison" : "poison", 
	"liquidlava" : "fire",
    "liquidheal" : "heal",	
	"biomecold" : "ice", 
    "biomeheat" : "fire", 
	"biomepoison" : "poison",
	"biomeradiation" : "poison",
    "biomeelectric" : "electric",
    "biomeairless" : "standard"
  },
  "hazardAlias" : { 
	"poison" : "liquidpoison",
	
	"lava" : "liquidlava",
    "corelava" : "liquidlava",
	
	"healingliquid" : "liquidheal",
    "milk" : "liquidheal",
	
    "ffbiomeelectric1" : "biomeelectric",
    "ffbiomeelectric2" : "biomeelectric",
    "ffbiomeelectric3" : "biomeelectric",
    "randomcrash" : "biomeelectric",
	
    "biomeheat" : "biomeheat",
    "heatweathernew" : "biomeheat",
    "heatweathernew2" : "biomeheat",
    "ffbiomeheat1" : "biomeheat",
    "ffbiomeheat2" : "biomeheat",
    "ffbiomeheat3" : "biomeheat",
    "heatwave1" : "biomeheat",
    "heatwave2" : "biomeheat",
    "heatwave3" : "biomeheat",
    "desertweathernew" : "biomeheat",
    "desertweathernewdeadly" : "biomeheat",
    "jungleheatweather" : "biomeheat",
	
	"biomecold" : "biomecold",
    "coldweathernew" : "biomecold",
    "ffbiomecold0" : "biomecold",
    "ffbiomecold1" : "biomecold",
    "ffbiomecold2" : "biomecold",
    "ffbiomecold3" : "biomecold",
    "ffbiomecold4" : "biomecold",
    "suddenchill1" : "biomecold",
    "suddenchill2" : "biomecold",
    "suddenchill3" : "biomecold",
	
	"biomeradiation" : "biomeradiation",
    "radioactiveweathernew" : "biomeradiation",
    "radioactiveweathernew2" : "biomeradiation",
    "radioactiveweathernew3" : "biomeradiation",
	
	"poisonweathernew" : "biomepoison",
    "biomepoison1" : "biomepoison",
    "biomepoison2" : "biomepoison",
    "biomepoison3" : "biomepoison",
    "biomepoisongas" : "biomepoison",
	
    "biomeairless" : "biomeairless"  
  },
  "liquidParticleTypes" : { 
    "lava" : "Lava",
    "corelava" : "Lava",
	"water" : "Water",
    "healingliquid" : "Water",
	"poison" : "Poison",
    "slime" : "Poison",
    "swampwater" : "Poison"
  }
}