{
  "gui" : {
    "fuelGauge" : {
      "type" : "fuelGauge",
      "position" : [25, 65]
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/fuel/vierafuelUIheader.png",
      "fileBody" : "/interface/fuel/vierafuelUIbody.png",
      "fileFooter" : "/interface/fuel/vierafuelUIfooter.png"
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/fuel/vierafuelshine.png",
      "position" : [0, -2],
      "zlevel" : -10
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Magicite Firebox",
      "subtitle" : "Fires Magicite Crystal for fuel",
      "position" : [0, 254],
      "icon" : {
        "type" : "image",
        "file" : "/interface/fuel/vierafuelheadericon.png",
        "position" : [0, -20],
        "zlevel" : -1
      }
    },
    "burn" : {
      "type" : "button",
      "position" : [96, 28],
      "base" : "/interface/fuel/vierafuel2up.png",
      "hover" : "/interface/fuel/vierafuel2down.png"
    },
    "clear" : {
      "type" : "button",
      "position" : [42, 28],
      "base" : "/interface/fuel/vieraclearup.png",
      "hover" : "/interface/fuel/vieracleardown.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [28, 46],
      "dimensions" : [6, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "close" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "callback" : "close",
      "position" : [155, 105]
    }
  }
}
