{
   "blockKey" : [
//BASIC VALUES
    {
      "value" : [255, 255, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : false
    },

    {
      "value" : [0, 0, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true
    },

    {
      "value" : [255, 0, 0, 255],
      "foregroundBlock" : true,
      "backgroundBlock" : true
    },
//OBJECTS
    {
      //BRIGHT GREEN
	  "value" : [0, 255, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "moogleslopedshipplating",
      "flags" : [ "shipLockerPosition" ],
      "object" : "moogleshiplocker",
      "objectParameters" : {
        "treasurePools" : [ "moogleStarterTreasure" ],
        "level" : 0.5
      },
      "objectResidual" : true
    },
  
    {
      //FOREST GREEN
	  "value" : [0, 128, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "moogleslopedshipplating",
      "object" : "moogleshiplockerTier0",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      //MINT GREEN
	  "value" : [142, 255, 142, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "moogleslopedinsetplating",
      "object" : "moogletechstation",
	  "objectDirection" : "right",
      "objectResidual" : true
    },

    {
      //DULL RED
	  "value" : [255, 87, 81, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
	  "backgroundMat" : "moogleslopedinsetplating",
      "object" : "brokenmooglefuelhatch",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      //PINK-RED
	  "value" : [255, 90, 90, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "mooglefuelhatch",
      "objectResidual" : true
    },

    {
      //YELLOW
	  "value" : [255, 255, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "moogleslopedshipplating",
      "object" : "vierashiplight",
      "objectResidual" : true
    },
  
    {
      //GOLD
	  "value" : [191, 191, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "moogleslopedshipplating",
      "object" : "vierashiplightBroken",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
  
    {
      //DARK GOLD
	  "value" : [128, 128, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "moogleslopedshipplating",
      "object" : "vierashiplight",
      "objectParameters" : {
        "unbreakable" : true,
        "defaultLightState" : false
      }
    },

    {
      //ORANGE
	  "value" : [255, 102, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
	  "backgroundMat" : "moogleslopedinsetplating",
      "object" : "moogleshipdoor",
      "objectResidual" : true
    },
  
    {
      //BROWN
	  "value" : [128, 51, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
	  "backgroundMat" : "moogleslopedinsetplating",
      "object" : "moogleshiphatchBroken",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
	
	{
      //LIGHT SLATE BLUE
	  "value" : [28, 151, 200, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
	  "backgroundMat" : "moogleslopedinsetplating",
      "object" : "moogleshiphatch"
    },

    {
      //TAN
	  "value" : [174, 137, 81, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
	  "backgroundMat" : "moogleslopedshipplating",
      "object" : "viera_shipenginebroken"
    },
	
	{
      //SLIGHTLY LIGHTER TAN
	  "value" : [174, 127, 81, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
	  "backgroundMat" : "moogleslopedshipplating",
      "object" : "viera_shipengine"
    },

    {
      //BRIGHT PURPLE
	  "value" : [156, 0, 255, 255],
      "anchor" : true,
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "moogleslopedinsetplating",
      "object" : "tinywaystoneteleporter",
      "flags" : [ "playerSpawn" ]
    },
  
    {
      //DARK PURPLE
	  "value" : [79, 0, 128, 255],
      "anchor" : true,
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "moogleslopedinsetplating",
      "object" : "tinywaystoneteleporterTier0",
      "flags" : [ "playerSpawn" ],
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      //SKY BLUE
	  "value" : [0, 255, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "mooglecaptainschair",
      "objectDirection" : "right"
    },
	
	{
      //DARKER SKY BLUE
	  "value" : [0, 183, 183, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "mooglecrewchairs",
      "objectDirection" : "right"
    },
	
	{
      //LIGHT GREEN
	  "value" : [60, 225, 84, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
	  "backgroundMat" : "moogleslopedinsetplating",
      "object" : "moogleshipfoodstorage",
      "objectDirection" : "right"
    },
	
	{
      //SLATE BLUE
	  "value" : [60, 147, 155, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
	  "backgroundMat" : "moogleslopedinsetplating",
      "object" : "moogleshipstove",
      "objectDirection" : "right"
    },
	
	{
      //BURNT ORANGE
	  "value" : [224, 142, 49, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
	  "backgroundMat" : "moogleslopedinsetplating",
      "object" : "moogleshipsink",
      "objectDirection" : "right"
    },

    {
      //PASTEL PURPLE
	  "value" : [224, 167, 194, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
	  "backgroundMat" : "moogleslopedinsetplating",
      "object" : "moogleshipcupboard1",
      "objectDirection" : "right"
    },
	
	{
      //LIGHT SAGE GREEN
	  "value" : [224, 244, 194, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
	  "backgroundMat" : "moogleslopedinsetplating",
      "object" : "moogleshipbookcase",
      "objectDirection" : "right"
    },

    {
      //BERRY PINK PURPLE
	  "value" : [224, 35, 194, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
	  "backgroundMat" : "moogleslopedinsetplating",
      "object" : "moogleshipboothleft",
      "objectDirection" : "right"
    },
	
	{
      //MUD BROWN
	  "value" : [124, 100, 84, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
	  "backgroundMat" : "moogleslopedinsetplating",
      "object" : "moogleshipboothright",
      "objectDirection" : "right"
    },
	
	{
      //LILAC
	  "value" : [167, 158, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
	  "backgroundMat" : "moogleslopedshipplating",
      "object" : "mooglebunk",
	  "objectDirection" : "right"
    },
	
	{
      //PERIWINKLE
	  "value" : [100, 81, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
	  "backgroundMat" : "moogleslopedshipplating",
      "object" : "mooglebunkbroken",
	  "objectDirection" : "right"
    },

    {
      "value" : [122, 122, 122, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "invisiblelight",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
  
    {
      "value" : [255, 232, 128, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "invisiblesparker",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
//BOOSTERS
	{
      "value" : [167, 167, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "bigboosterflame",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [166, 166, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "boosterflame",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
//TILES
    {
	  //STRAW YELLOW
      "value" : [255, 255, 144],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "moogleslopedshipplating"
    },

    {
      //SALMON PINK 
	  "value" : [255, 117, 144],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "moogleslopedinsetplating"
    },
	
	{
      //LIME 
	  "value" : [200, 255, 0],
      "foregroundBlock" : true,
      "backgroundBlock" : true,
      "backgroundMat" : "moogleslopedinsetplating",
	  "foregroundMat" : "moogleslopedinsetplating"
    },

    {
      //PINK-PURPLE
	  "value" : [255, 117, 255],
      "foregroundBlock" : true,
      "backgroundBlock" : true,
      "backgroundMat" : "moogleslopedinsetpanel",
	  "foregroundMat" : "moogleslopedinsetpanel"
    },
	
	{
      //LIGHT BLUE
	  "value" : [100, 198, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "vieraslopedglass"
    },
	
	{
      //LIGHTER BLUE
	  "value" : [100, 217, 255],
      "foregroundBlock" : true,
      "backgroundBlock" : true,
      "foregroundMat" : "vieraslopedglass",
	  "backgroundMat" : "vieraslopedglass"
    },
	
	{
      //MEDIUM PURPLE
	  "value" : [100, 85, 180],
      "foregroundBlock" : true,
      "backgroundBlock" : true,
	  "backgroundMat" : "moogleslopedshipplating",
      "foregroundMat" : "magiciteplatform1"
    },
	
	{
      //LIGHT PURPLE
	  "value" : [180, 150, 255],
      "foregroundBlock" : true,
      "backgroundBlock" : true,
	  "backgroundMat" : "moogleslopedshipplating",
      "foregroundMat" : "magiciteplatform2"
    }
  ]
}
